
<%- include('../../partials/header.ejs')  %> 

<%- include('../../partials/navbar.ejs')  %> 

<main>
    <div class="container">

        <div class="card mt-2">
            <div class="card-header">
                <h2>Cadastro de Artigos</h2>
            </div>
            <div class="card-body">
                <form method="post" class="mt-2">
                    <input class="form-control mt-2" name="title" placeholder="Defina o titulo do artigo">
                    <textarea id="article" placeholder="Escreva seu artigo aqui" class="form-control mt-2" name="description" ></textarea>
                    <select class="form-control mt-2" name="category" >
                        <option value="">Categoria</option>
                        <% categorias.forEach(categoria=>{
                            %>
                                <option value="<%= categoria.id %>"><%= categoria.title %></option>
                            <%
                        }) %> 
                    </select>
                    <button class="btn btn-primary mt-3 float-right" >Enviar</button>
                </form>
            </div>
        </div>

    </div>
</main>

<%- include('../../partials/footer.ejs')  %> 

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins:[
            'advlist autolink link image lists print hr searchreplace wordcout fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>