
<%- include('../../partials/header.ejs')  %> 
<%- include('../../partials/homenavbar.ejs')  %> 
<body>
    <div class="container">

        <% result.articles.rows.forEach(article=>{ %>  
            <div class="card m-2">
                <div class="card-header">
                    <h4><%= article.title%></h4>
                </div>
                <div class="card-body">
                    <a href="/article/<%= article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <%}) %> 
    </div>
</body>

<%- include('../../partials/footer.ejs')  %> 