
<%- include('partials/header.ejs')  %> 
<%- include('partials/homenavbar.ejs')  %> 
<body>
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Esté é um simples blog do programador</p>
            <hr class="my-4">
            <p>Aprenda sobre programção, já pensou para pensar o que é cada linguagem? </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Ler mais...</a>
        </div>

        <% articles.forEach(article=>{ %>  
            <div class="card m-2">
                <div class="card-header">
                    <h4><%= article.title%></h4>
                </div>
                <div class="card-body">
                    <a href="/article/<%= article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <%}) %> 

        <div class="row">
            <div class="col col-12">
                <a class="float-right" href="/article/page/2">Next >>></a>
            </div>
            <hr>
        </div>

    </div>
</body>

<%- include('partials/footer.ejs')  %> 